.additional-catalog__title {
  position: relative;
  margin: 25px 0 0 0;
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: $black;
  padding-right: 22px;
  padding-bottom: 35px;
  display: inline-block;
  background-color: $white;
}

.additional-catalog__title-line {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $basic_green;
    top: 40px;
    width: 100%;
    z-index: -1;
  }
}

.additional-catalog__products {
  border-top: 1px solid $special_grey-1;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.additional-catalog__card {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 18px;
  border-bottom: 1px solid $special_grey-1
}

.additional-catalog__card-title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin: 13px 0;
}

.additional-catalog__card-list {
  margin: 0;
}

.additional-catalog__card-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}

.additional-catalog__gift {
  margin: 35px 0;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
  padding: 0;
  background-size: cover;
  background-color: $basic_green;
}

.additional-catalog__gift-text {
  padding: 187px 59px 43px 59px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: center top 59px;
}

.additional-catalog__card-button.button {
  font-size: 16px;
  line-height: 1.25;
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .additional-catalog__title {
    padding: 0 36px;
    margin: 68px 0 80px 0;
    font-size: 36px;
  }

  .additional-catalog__title-line::after {
    top: 88px;
  }

  .additional-catalog__list {

  }

  .additional-catalog__card {
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 28px 38px;
    border-left: 1px solid $special_grey-1;
    border-right: 1px solid $special_grey-1;
  }

  .additional-catalog__card-title {
    margin: 0;
    font-size: 20px;
  }

  .additional-catalog__card-list {
    margin-top: 3px;
  }

  .additional-catalog__card-button {
    grid-column: 1/-1;
  }

  .additional-catalog__card-button.button {
    margin-top: 21px;
  }

  .additional-catalog__card-item {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }

  .additional-catalog__card-price {
    margin: 0;
  }

  .additional-catalog__card-description {
    margin-right: 49px;
  }

  .additional-catalog__gift {
    margin: 69px 0 76px 0;
    background-position: right 0 top -315px;
  }

  .additional-catalog__gift-text {
    padding: 71px 124px 69px 422px;
    background-position: left 77px top 57px;
    background-size: 80px 83px;
    text-align: unset;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__title {
    margin: 76px 0 81px -36px;
  }

  .additional-catalog__title-line::after {
    top: 98px;
  }

  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }

  .additional-catalog__card {
    grid-template-columns: 288px, 288px, 244px;
    gap: 38px;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px 0;
    width: 896px;
    align-items: center;
  }

  .additional-catalog__card-item {
    display: flex;
    justify-content: space-between;
  }

  .additional-catalog__card-button {
    grid-column: 3/4;
  }

  .additional-catalog__card-button.button {
    min-width: 245px;
    margin: 0;
  }

  .additional-catalog__gift {
    margin: 0;
    background-position: unset;
  }

  .additional-catalog__gift-text {
    padding: 185px 42px 42px 42px;
    width: 161px;
    background-position: center top 56px;
    text-align: center;
  }
}
