.card {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 140px 140px;

  &--show-more {
    grid-template-columns: 280px;
  }
}

.card__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  text-align: center;
  margin: 0;
}

.card__image {
  grid-row: 1/3;
}

.card__list {
  font-size: 12px;
  line-height: 16px;
}

.card__text {
  margin: 0;
  padding: 8px 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.card__button.card__button--show-more {
  background-color: $basic_grey;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

@media (min-width: $tablet-width) {
  .card {
    grid-template-columns: 1fr;
  }

  .card__image {
    grid-row: 1/1;
  }
}
