.catalog__title {
  margin: 50px 0 25px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: start;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 19px;
}

.catalog__card {
  padding: 10px 0 15px 0;
}
