.features__wrapper {
  margin: 0 auto 46px auto;
}

.features__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: $black;
  text-align: start;
  margin: 0 0 40px 0;
}

.features__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
}

.features__item {
  margin: 0;
  list-style: none;
}

.features__text {
  position: relative;
  margin: 0;
  padding: 0 0 0 80px;
  height: 60px;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic_green;
    z-index: -2;
  }
}

.features__text--leaf {
  background-image: url("../img/leaf.svg");
  background-size: 31px 32px;
  background-position: center left 17px;
}

.features__text--powder {
  background-image: url("../img/powder.svg");
  background-size: 29px 31px;
  background-position: center left 16px;
}

.features__text--fork {
  background-image: url("../img/fork.svg");
  background-size: 25px 30px;
  background-position: center left 18px;
}

.features__text--watch {
  background-image: url("../img/watch.svg");
  background-size: 32px 33px;
  background-position: center left 14px;
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    margin-bottom: 40px;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 31px 135px;
    counter-reset: section;
  }

  .features__item {
    position: relative;
    padding-top: 40px;
    list-style: none;

    &::before {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      top: 0;
      right: 0;
      font-family: $font_oswald;
      font-size: 280px;
      line-height: 1;
      font-style: normal;
      font-weight: 400;
      color: $basic_grey;
      z-index: -1;
    }
  }

  .features__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 46px;
    margin-bottom: 32px;
  }

  .features__text {
    font-size: 16px;
    line-height: 1.5;
    padding: 114px 0 60px 0;
    height: unset;


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: $basic_green;
      z-index: -2;
    }
  }

  .features__text--leaf {
    background-position: top 25px left 24px;
  }

  .features__text--powder {
    background-position: top 24px left 25px;
  }

  .features__text--fork {
    background-position: top 25px left 28px;
  }

  .features__text--watch {
    background-position: top 24px left 23px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
  }

  .features__list {
    grid-template-columns: repeat(4, 250px);
    gap: 40px 73px;
  }
}
