.form-selection__wrapper {
  border-top: 1px solid $special_grey-6;
  border-bottom: 1px solid $special_grey-6;
}

.form-selection__wrapper-border {
  border-bottom: 1px solid $special_grey-6;
}

.form-selection__wrapper-questionary {
  border-bottom: 1px solid $special_grey-6;
}

.form-selection__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  text-align: start;
  margin: 27px 0 37px 0;
}

.form-selection__text {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .form-selection__wrapper {
    margin-bottom: 76px;
    border: none;
  }

  .form-selection__wrapper-title {
    padding: 0 37px 0 40px;
    box-sizing: border-box;
  }

  .form-selection__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 64px;
    margin-bottom: 54px;
  }

  .form-selection__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 66px;
    margin-top: 0;
  }

  .form-selection__wrapper-border {
    border: none;
  }

  .form-selection__wrapper-questionary {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form-selection__title {
    margin: 78px 0 56px 0;
  }

  .form-selection__wrapper-title {
    padding: 0;
  }

  .form-selection__wrapper {
    margin-bottom: 0;
    padding: 0 0 179px 0;
  }

  .form-selection__wrapper-questionary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
    width: 1220px;
    margin: 0 auto 39px auto;
  }
}
