.gift__wrapper {
  margin: 25px auto 0 auto;
  background-image: url("../../img/gift.png");
  background-repeat: no-repeat;
  padding: 0;
  background-size: cover;
}

.gift__text {
  padding: 190px 0 40px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  width: 160px;
  margin: 0 auto;
}
