.main-banner__container {
  background-image: url("../img/greencat-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 27px 0 164px 0;
  background-color: $basic_green;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/green-cat-mobile@2x.png");
  }
}

.main-banner__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $white;
  margin: 0 0 25px 0;
}

.main-banner__text {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  margin: 0;
}

.main-banner__wrapper {
  margin: -135px auto 0 auto;
}

.main-banner__img-tablet {
  display: none;
}

.main-banner__img-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-banner__img {
    width: 100%;
    display: block;
  }

  .main-banner__img-tablet {
    display: block;
  }

  .main-banner__container {
    background-image: none;
    background-color: $white;
    padding: 0;
    box-shadow: none;
  }

  .main-banner__title {
    font-size: 60px;
    color: $black;
    margin-left: 87px;
    margin-top: 62px;
    margin-bottom: 42px;
    max-width: 425px;
    text-align: unset;
  }

  .main-banner__text {
    font-size: 20px;
    line-height: 1;
    color: $black;
    margin-left: 89px;
    margin-bottom: 20px;
    text-align: unset;
  }

  .main-banner__wrapper {
    margin: 0 auto;
    position: relative;
  }

  .button.main-banner__button {
    position: absolute;
    font-size: 20px;
    line-height: 1;
    min-width: 244px;
    left: 89px;
    top: 29px;
    padding: 17px 0 17px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-banner__img {
    position: absolute;
    top: -555px;
    left: 448px;
    display: block;
    width: 552px;
  }

  .button.main-banner__button {
    top: -239px;
    left: 80px;
  }

  .main-banner__title {
    padding-top: 223px;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .main-banner__text {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .main-banner__container {
    background-image: url("../img/greencat-desktop.png");
    background-position: right 0 top 0;
    background-size: 50% auto;
    height: 696px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/green-cat-desktop@2x.png");
    }
  }
}
