.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 17px auto;
  align-items: center;
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-image-tablet {
  display: none;
}

.main-header__logo-image-desktop {
  display: none;
}

.logo-text {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    margin: 25px auto;
  }

  .main-header__logo-wrapper {
    margin-right: 95px;
  }

  .main-header__logo-image {
    display: none;
  }

  .main-header__logo-image-tablet {
    display: block;
    min-width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo-image-tablet {
    display: none;
  }

  .main-header__logo-image-desktop {
    display: block;
    min-width: 202px;
  }

  .main-header__wrapper {
    position: absolute;
    margin: 50px auto 25px auto;
  }

  .main-header__wrapper--form {
    position: static;
  }
}
