.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 17px auto;
  align-items: center;
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-image-tablet {
  display: none;
}

.main-header__logo-image-desktop {
  display: none;
}

.logo-text {
  display: block;
}

.main-nav {
  position: relative;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  width: 24px;
  height: 17px;
  cursor: pointer;
  display: block;
}

.main-nav__wrapper {
  position: absolute;
  width: 320px;
  top: 38px;
  left: -278px;
  background: $white;
  z-index: 2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.site-list {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  list-style: none;

  &--close {
    display: none;
  }

  &--open {
    display: block;
  }
}

.site-list__item {
  padding: 22px 0 24px 0;
  text-decoration: none;
  text-align: center;

  a {
    color: $black;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: unset;
    width: unset;
  }

  .main-header__wrapper {
    margin: 25px auto;
  }

  .site-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-list__item {
    padding: 0;
  }

  .main-header__logo-wrapper {
    margin-right: 95px;
  }

  .main-header__logo-image {
    display: none;
  }

  .main-header__logo-image-tablet {
    display: block;
    min-width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo-image-tablet {
    display: none;
  }

  .main-header__logo-image-desktop {
    display: block;
    min-width: 202px;
  }

  .main-header__wrapper {
    position: absolute;
    margin: 50px auto 25px auto;
  }

  .site-list {
    font-size: 20px;
    line-height: 30px;

    a {
      color: $white;
    }
  }

  .main-nav__wrapper {
    background-color: transparent;
  }
}
