.programs__wrapper {
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.programs__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: $black;
  margin: 0 0 29px 70px;
}

.programs__text {
  margin: 0 0 19px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $special_grey-6;
}

.programs__link {
  text-decoration: none;
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
  color: $black;
  padding-right: 50px;
  background-image: url("../img/arrow.svg");
  background-size: 25px 12px;
  background-repeat: no-repeat;
  background-position: center right 7px;


  &:hover {
    background-image: url("../img/arrow-hover.svg");
    background-size: 32px 12px;
    background-position: center right 0;
  }

  &:active {
    background-image: url("../img/arrow-hover.svg");
    opacity: 0.3;
    background-size: 32px 12px;
    background-position: center right 0;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  list-style: none;
  margin-bottom: 20px;
  padding: 30px 20px 20px 20px;
  background: $basic_grey;

  &--slim {
    background-image: url("../img/cat_back.svg");
    background-repeat: no-repeat;
    background-position: top 21px left 22px;
    background-size: 50px 53px;
  }

  &--pro {
    background-image: url("../img/cat_walk.svg");
    background-repeat: no-repeat;
    background-position: top 24px left 13px;
    background-size: 67px 50px;
  }
}

@media (min-width: $tablet-width) {
  .programs__wrapper {
    margin: 0 auto;
  }

  .programs__title {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 25px 0;
  }

  .programs__item {
    list-style: none;
    margin-bottom: 30px;
    padding: 79px 315px 55px 51px;

    &--slim {
      background-position: top 81px right 62px;
      background-size: 200px 211px;
    }

    &--pro {
      background-position: top 91px right 28px;
      background-size: 268px 200px;
    }
  }

  .programs__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 51px;
    padding: 0;
    border-bottom: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 57px;
  }
}

@media (min-width: $desktop-width) {
  .programs__wrapper {
    margin: 80px auto 0 auto;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }

  .programs__title {
    margin: 0 0 73px 165px;
  }

  .programs__text {
    margin-bottom: 23px;
    color: $black;
  }

  .programs__item {
    padding-top: 77px;
    padding-right: 50px;

    &--slim {
      background-position: top 40px left 50px;
      background-size: 100px 106px;
    }

    &--pro {
      background-position: top 45px left 30px;
      background-size: 134px 100px;
    }
  }
}
