.programs__wrapper {
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.programs__title {
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  text-align: center;
  margin: 0 0 30px 0;
}

.programs__text {
  margin: 0 0 40px 0;
}

.programs__link {
  text-decoration: none;
  font-family: $font_oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: start;
  text-transform: uppercase;
  color: $black;
}

.programs__list {
  margin-top: 0;
  padding: 0;
}

.programs__item {
  list-style: none;
  margin-bottom: 20px;
  padding: 30px 20px 20px 20px;
  background: $basic_grey;
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}
