@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
body {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
  font-style: normal;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .wrapper {
    width: 1220px;
  }
}
.main-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 17px auto;
  align-items: center;
}

.main-header__logo-link {
  cursor: pointer;
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-wrapper:hover {
  opacity: 0.8;
}
.main-header__logo-wrapper:active {
  opacity: 0.6;
}

.main-header--nojs .main-nav__toggle {
  visibility: hidden;
}

.main-header--nojs .main-header__wrapper {
  display: block;
}

.main-header--nojs .main-nav__wrapper {
  position: static;
  width: unset;
}

@media (min-width: 768px) {
  .main-header--catalog::before {
    display: none;
  }

  .main-header__wrapper {
    margin: 24px auto 25px auto;
  }

  .main-header__logo-wrapper {
    margin-right: 95px;
  }

  .main-header__logo-image {
    display: block;
    width: 174px;
    height: 52px;
  }

  .main-header--nojs .main-nav__toggle {
    visibility: unset;
  }

  .main-header--nojs .main-header__wrapper {
    display: flex;
  }

  .main-header--nojs .main-nav__wrapper {
    position: unset;
  }
}
@media (min-width: 1300px) {
  .main-header__logo-image {
    display: block;
    width: 202px;
    height: 59px;
  }

  .main-header__wrapper {
    position: absolute;
    margin: 50px auto 25px auto;
  }

  .main-header__wrapper.main-header__wrapper--catalog {
    position: static;
  }
}
.additional-catalog__title {
  position: relative;
  margin: 25px 0 0 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  padding-right: 22px;
  padding-bottom: 35px;
  display: inline-block;
  background-color: #ffffff;
}

.additional-catalog__title-line {
  position: relative;
}
.additional-catalog__title-line::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #68b738;
  top: 40px;
  width: 100%;
  z-index: -1;
}

.additional-catalog__products {
  border-top: 1px solid #ebebeb;
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.additional-catalog__card {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 18px;
  border-bottom: 1px solid #ebebeb;
}

.additional-catalog__card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  margin: 13px 0;
}

.additional-catalog__card-list {
  margin: 0;
}

.additional-catalog__card-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
}

.additional-catalog__gift {
  margin: 35px 0;
  background-image: url("../img/gift.jpg");
  background-repeat: no-repeat;
  padding: 0;
  background-size: cover;
  background-color: #68b738;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .additional-catalog__gift {
    background-image: url("../img/gift-mobile@2x.jpg");
  }
}

.additional-catalog__gift-text {
  padding: 187px 59px 43px 59px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
  background-position: center top 59px;
}

.additional-catalog__card-button.button {
  font-size: 16px;
  line-height: 1.25;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .additional-catalog__title {
    padding: 0 36px;
    margin: 68px 0 80px 0;
    font-size: 36px;
  }

  .additional-catalog__title-line::after {
    top: 88px;
  }

  .additional-catalog__card {
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 28px 38px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }

  .additional-catalog__card-title {
    margin: 0;
    font-size: 20px;
  }

  .additional-catalog__card-list {
    margin-top: 3px;
  }

  .additional-catalog__card-button {
    grid-column: 1/-1;
  }

  .additional-catalog__card-button.button {
    margin-top: 21px;
  }

  .additional-catalog__card-item {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
  }

  .additional-catalog__card-price {
    margin: 0;
  }

  .additional-catalog__card-description {
    margin-right: 49px;
  }

  .additional-catalog__gift {
    margin: 69px 0 76px 0;
    background-position: right 0 top -300px;
    background-image: url("../img/gift-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .additional-catalog__gift {
    background-image: url("../img/gift-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .additional-catalog__gift-text {
    padding: 71px 124px 69px 422px;
    background-position: left 77px top 57px;
    background-size: 80px 83px;
    text-align: unset;
  }
}
@media (min-width: 1300px) {
  .additional-catalog__title {
    margin: 76px 0 81px -36px;
  }

  .additional-catalog__title-line::after {
    top: 98px;
  }

  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }

  .additional-catalog__card {
    grid-template-columns: 288px, 288px, 244px;
    gap: 38px;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px 0;
    width: 896px;
    align-items: center;
  }

  .additional-catalog__card-item {
    display: flex;
    justify-content: space-between;
  }

  .additional-catalog__card-button {
    grid-column: 3/4;
  }

  .additional-catalog__card-button.button {
    min-width: 245px;
    margin: 0;
  }

  .additional-catalog__gift {
    margin: 0;
    background-position: right 0 top 0;
    background-image: url("../img/gift.jpg");
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1300px) and (min-resolution: 2dppx) {
  .additional-catalog__gift {
    background-image: url("../img/gift-mobile@2x.jpg");
  }
}
@media (min-width: 1300px) {
  .additional-catalog__gift-text {
    padding: 185px 42px 42px 42px;
    width: 161px;
    background-position: center top 56px;
    text-align: center;
  }
}
.catalog__title-border-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  margin: 27px 0 41px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.catalog__card {
  padding: 19px 0 23px 0;
  border-bottom: 1px solid #ebebeb;
}
.catalog__card--show-more {
  padding: 25px 0 21px 0;
}

@media (min-width: 768px) {
  .catalog__title-border-wrapper {
    border: none;
  }

  .catalog__title {
    margin-bottom: 163px;
    margin-top: 65px;
    font-size: 60px;
    line-height: 1;
  }

  .catalog__card {
    border: none;
    padding: 0;
  }

  .catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 140px 60px;
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .catalog__list {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 141px 80px;
    width: 1220px;
  }

  .catalog__title {
    margin-bottom: 165px;
    margin-top: 77px;
  }
}
.example {
  padding-top: 1px;
  padding-bottom: 1px;
}

.example__wrapper {
  margin: 25px auto 40px auto;
}

.example__wrapper-background-title {
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  text-align: start;
  padding: 25px 0 39px 0;
  margin: 0;
}

.example__wrapper-content {
  background-color: #eaeaea;
}

.example__text {
  margin: 0 0 20px 0;
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.example__item {
  margin: 0;
  list-style: none;
}

.example__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
}

.example__item-index {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin: 0;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 13px 0 19px 0;
  box-sizing: border-box;
}

.example__item-description {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  width: 87px;
  height: 24px;
  margin: -12px 0 0 0;
  padding: 0 14px 0 10px;
  box-sizing: border-box;
  background-color: #eaeaea;
  z-index: 1;
}

.example__text-container {
  display: flex;
  justify-content: center;
}

.example__text-effect {
  padding: 20px 2px 40px 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.example__wrapper-image {
  background-color: #eaeaea;
  padding-bottom: 40px;
}

.example__range-img-fat {
  display: block;
}

.example__range-img-skinny {
  display: none;
}

.example__range-wrapper {
  display: flex;
  width: 210px;
  justify-content: space-between;
  margin: 15px auto 0 auto;
  padding: 5px 5px;
  align-items: center;
  box-sizing: border-box;
}

.example__range-bar {
  position: relative;
  height: 14px;
  width: 86px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.example__range-bar-inner {
  height: 6px;
  width: 36px;
  margin: 0 6px;
  background-color: #68b738;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.example__range-toggle {
  display: none;
}

.example__range-label-name-prev,
.example__range-label-name-next {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #eaeaea;
}
.example__range-label-name-prev:hover,
.example__range-label-name-next:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.example__range-label-name-prev:active,
.example__range-label-name-next:active {
  border-bottom: none;
}

@media (min-width: 768px) {
  .example__wrapper-description {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper-background-title {
    background-color: transparent;
    border-top: 1px solid #e6e6e6;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    padding: 0;
    margin: 42px 0 65px 0;
  }

  .example__wrapper-content {
    background-color: transparent;
    padding-bottom: 80px;
  }

  .example__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 54px 0;
  }
  .example__text span {
    white-space: nowrap;
  }

  .example__list {
    width: 365px;
  }

  .example__item-wrapper {
    width: 162px;
  }

  .example__item-index {
    font-size: 30px;
    line-height: 1.23;
    width: 162px;
    height: 72px;
  }

  .example__item-description {
    font-size: 14px;
    width: unset;
    height: unset;
    padding: 0 8px;
    margin: -10px 0 0 0;
    background-color: #ffffff;
    z-index: 1;
  }

  .example__text-container {
    flex-direction: column;
    align-items: end;
  }

  .example__text-effect {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .example__wrapper-image {
    padding-bottom: 55px;
    margin-top: 170px;
    padding-top: 1px;
  }

  .example__range-wrapper {
    width: 592px;
    margin-top: 25px;
    padding: 0;
  }

  .example__range {
    margin: -170px auto 0 auto;
  }

  .example__img-wrapper {
    display: flex;
    height: 511px;
    width: 592px;
    margin: 0 auto;
  }

  .example__range-bar {
    height: 6px;
    width: 426px;
    background-color: #cdcdcd;
    border-radius: 6px;
  }

  .example__range-bar-inner {
    background-color: transparent;
    margin-left: 196px;
  }

  .example__range-img-fat {
    display: block;
    width: 296px;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .example__range-img-skinny {
    display: block;
    width: 296px;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  .example__range-label-name-prev,
.example__range-label-name-next {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  }

  .example__range-toggle {
    position: relative;
    display: block;
    padding: 0;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .example__range-toggle::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 12px;
    left: 12px;
    background-color: #68b738;
  }
  .example__range-toggle:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }
  .example__range-toggle:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #68b738;
  }
}
@media (min-width: 1300px) {
  .example {
    background-color: #eaeaea;
    margin-top: 170px;
    padding-top: 1px;
  }

  .example__wrapper-background {
    width: 1220px;
    margin: -170px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper-background-title {
    border: none;
  }

  .example__wrapper-content {
    padding-bottom: 75px;
  }

  .example__wrapper-title {
    width: 435px;
  }

  .example__title {
    margin-top: 39px;
    margin-bottom: 145px;
  }

  .example__wrapper-text {
    width: 435px;
  }

  .example__text {
    margin-bottom: 69px;
  }

  .example__wrapper-description {
    display: block;
  }

  .example__item-description {
    background-color: #eaeaea;
  }

  .example__text-container {
    flex-direction: row;
    align-items: center;
    justify-content: unset;
  }

  .example__text-effect {
    line-height: 1;
    width: unset;
    text-align: left;
    margin-top: 55px;
    margin-right: 63px;
  }

  .example__wrapper-image {
    width: 592px;
  }

  .example__range {
    width: 592px;
    margin-top: -175px;
  }

  .example__range-wrapper {
    width: 592px;
    margin: 25px 0 0 0;
  }

  .example__img-wrapper {
    margin: 0;
  }
}
.features__wrapper {
  margin: 0 auto 46px auto;
}

.features__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.11;
  color: #000000;
  text-align: start;
  margin: 0 0 40px 0;
}

.features__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
}

.features__item {
  margin: 0;
  list-style: none;
}

.features__text {
  position: relative;
  margin: 0;
  padding: 0 0 0 80px;
  height: 60px;
  background-repeat: no-repeat;
}
.features__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  z-index: -2;
}

.features__text--leaf {
  background-image: url("../img/leaf.svg");
  background-size: 31px 32px;
  background-position: center left 17px;
}

.features__text--powder {
  background-image: url("../img/powder.svg");
  background-size: 29px 31px;
  background-position: center left 16px;
}

.features__text--fork {
  background-image: url("../img/fork.svg");
  background-size: 25px 30px;
  background-position: center left 18px;
}

.features__text--watch {
  background-image: url("../img/watch.svg");
  background-size: 32px 33px;
  background-position: center left 14px;
}

@media (min-width: 768px) {
  .features__wrapper {
    margin-bottom: 40px;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 31px 135px;
    counter-reset: section;
  }

  .features__item {
    position: relative;
    padding-top: 40px;
    list-style: none;
  }
  .features__item::before {
    counter-increment: section;
    content: counter(section) "";
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    color: #f2f2f2;
    z-index: -1;
  }

  .features__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 46px;
    margin-bottom: 32px;
  }

  .features__text {
    font-size: 16px;
    line-height: 1.5;
    padding: 114px 0 60px 0;
    height: unset;
  }
  .features__text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: #68b738;
    z-index: -2;
  }

  .features__text--leaf {
    background-position: top 25px left 24px;
  }

  .features__text--powder {
    background-position: top 24px left 25px;
  }

  .features__text--fork {
    background-position: top 25px left 28px;
  }

  .features__text--watch {
    background-position: top 24px left 23px;
  }
}
@media (min-width: 1300px) {
  .features__wrapper {
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
  }

  .features__list {
    grid-template-columns: repeat(4, 250px);
    gap: 40px 73px;
  }
}
.form-selection__wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form-selection__wrapper-border {
  border-bottom: 1px solid #d9d9d9;
}

.form-selection__wrapper-questionary {
  border-bottom: 1px solid #d9d9d9;
}

.form-selection__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: start;
  margin: 27px 0 37px 0;
}

.form-selection__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 39px;
}

@media (min-width: 768px) {
  .form-selection__wrapper {
    margin-bottom: 76px;
    border: none;
  }

  .form-selection__wrapper-title {
    padding: 0 37px 0 40px;
    box-sizing: border-box;
  }

  .form-selection__title {
    font-size: 60px;
    line-height: 1;
    margin-top: 64px;
    margin-bottom: 54px;
  }

  .form-selection__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 66px;
    margin-top: 0;
  }

  .form-selection__wrapper-border {
    border: none;
  }

  .form-selection__wrapper-questionary {
    border: none;
  }
}
@media (min-width: 1300px) {
  .form-selection__title {
    margin: 78px 0 56px 0;
  }

  .form-selection__wrapper-title {
    padding: 0;
  }

  .form-selection__wrapper {
    padding: 0;
    margin-bottom: 84px;
  }

  .form-selection__wrapper-questionary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
    width: 1220px;
    margin: 0 auto 39px auto;
  }
}
.main-banner__container {
  background-image: url("../img/greencat-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 27px 0 164px 0;
  background-color: #68b738;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-banner__container {
    background-image: url("../img/green-cat-mobile@2x.png");
  }
}

.main-banner__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.main-banner__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.main-banner__wrapper {
  margin: -135px auto 0 auto;
}

.main-banner__img-tablet {
  display: none;
}

.main-banner__img-desktop {
  display: none;
}

@media (min-width: 768px) {
  .main-banner__img {
    width: 100%;
  }

  .main-banner__img-tablet {
    display: block;
  }

  .main-banner__container {
    background-image: none;
    background-color: #ffffff;
    padding: 0;
    box-shadow: none;
  }

  .main-banner__title {
    font-size: 60px;
    color: #000000;
    margin-left: 87px;
    margin-top: 62px;
    margin-bottom: 42px;
    max-width: 425px;
    text-align: unset;
  }

  .main-banner__text {
    font-size: 20px;
    line-height: 1;
    color: #000000;
    margin-left: 89px;
    margin-bottom: 20px;
    text-align: unset;
  }

  .main-banner__wrapper {
    margin: 0 auto;
    position: relative;
  }

  .button.main-banner__button {
    position: absolute;
    font-size: 20px;
    line-height: 1;
    min-width: 244px;
    left: 89px;
    top: 29px;
    padding: 17px 0 17px 0;
  }
}
@media (min-width: 1300px) {
  .main-banner__img {
    position: absolute;
    top: -555px;
    left: 448px;
    display: block;
    width: 552px;
  }

  .button.main-banner__button {
    top: -239px;
    left: 80px;
  }

  .main-banner__title {
    padding-top: 223px;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .main-banner__text {
    margin-left: 80px;
    margin-bottom: 52px;
  }

  .main-banner__container {
    background-image: url("../img/greencat-desktop.png");
    background-position: right 0 top 0;
    background-size: 50% auto;
    height: 696px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1300px) and (min-resolution: 2dppx) {
  .main-banner__container {
    background-image: url("../img/green-cat-desktop@2x.png");
  }
}
.programs__wrapper {
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 29px 70px;
}

.programs__text {
  margin: 0 0 19px 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
  color: #000000;
  padding-right: 50px;
  background-image: url("../img/arrow.svg");
  background-size: 25px 12px;
  background-repeat: no-repeat;
  background-position: center right 7px;
}
.programs__link:hover {
  background-size: 32px 12px;
  background-position: center right 0;
}
.programs__link:active {
  opacity: 0.3;
  background-size: 32px 12px;
  background-position: center right 0;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  list-style: none;
  margin-bottom: 20px;
  padding: 30px 20px 20px 20px;
  background: #f2f2f2;
}
.programs__item--slim {
  background-image: url("../img/cat_back.svg");
  background-repeat: no-repeat;
  background-position: top 21px left 22px;
  background-size: 50px 53px;
}
.programs__item--pro {
  background-image: url("../img/cat_walk.svg");
  background-repeat: no-repeat;
  background-position: top 24px left 13px;
  background-size: 67px 50px;
}

@media (min-width: 768px) {
  .programs__wrapper {
    margin: 0 auto;
  }

  .programs__title {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 25px 0;
  }

  .programs__item {
    list-style: none;
    margin-bottom: 30px;
    padding: 79px 315px 55px 51px;
  }
  .programs__item--slim {
    background-position: top 81px right 62px;
    background-size: 200px 211px;
  }
  .programs__item--pro {
    background-position: top 91px right 28px;
    background-size: 268px 200px;
  }

  .programs__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 51px;
    padding: 0;
    border-bottom: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 57px;
  }
}
@media (min-width: 1300px) {
  .programs__wrapper {
    margin: 80px auto 0 auto;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }

  .programs__title {
    margin: 0 0 73px 165px;
  }

  .programs__text {
    margin-bottom: 23px;
    color: #000000;
  }

  .programs__item {
    padding-top: 77px;
    padding-right: 50px;
  }
  .programs__item--slim {
    background-position: top 40px left 50px;
    background-size: 100px 106px;
  }
  .programs__item--pro {
    background-position: top 45px left 30px;
    background-size: 134px 100px;
  }
}
.main-footer {
  background-color: #f2f2f2;
  padding-top: 1px;
}

.main-footer__wrapper {
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo {
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer__logo-link:hover {
  opacity: 0.8;
}
.main-footer__logo-link:active {
  opacity: 0.6;
}

.main-footer__social {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 0 12px 0 12px;
  list-style: none;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
}
.social__link svg {
  width: 28px;
  height: 22px;
}
.social__link:hover path {
  fill: #68b738;
}
.social__link:active {
  opacity: 0.3;
}
.social__link:active path {
  fill: #68b738;
}

.main-footer__copyright {
  padding-top: 22px;
  width: 100%;
}

.main-footer__copyright-link-text {
  font-size: 16px;
  color: #444444;
  width: 114px;
  padding-right: 20px;
}

.main-footer__copyright-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer__copyright-link svg {
  width: 27px;
}
.main-footer__copyright-link:hover path {
  fill: #68b738;
}
.main-footer__copyright-link:active {
  opacity: 0.3;
}
.main-footer__copyright-link:active path {
  fill: #68b738;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    padding: 60px 0 55px 0;
    justify-content: space-between;
  }

  .main-footer__logo {
    width: auto;
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-footer__logo-link {
    justify-content: start;
    width: 128px;
  }

  .main-footer__social {
    padding: 0;
    padding-left: 24px;
    width: unset;
    border-bottom: none;
  }

  .main-footer__copyright {
    width: 163px;
    padding-top: 0;
  }
}
@media (min-width: 1300px) {
  .main-footer__wrapper {
    justify-content: space-between;
    padding-top: 55px;
  }

  .main-footer__logo {
    margin-right: 0;
  }

  .main-footer__social {
    margin-right: 0;
  }

  .social__list {
    position: relative;
    top: -4px;
  }
}
.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.contacts__slogan {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}

.contacts__address {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  text-align: start;
  width: 50%;
}

.contacts__address br {
  display: none;
}

.contacts--form {
  background-color: #f2f2f2;
}

.contacts iframe {
  border: none;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .contacts iframe {
    height: 400px;
  }

  .contacts__wrapper {
    padding: 56px 40px 56px 40px;
    box-sizing: border-box;
  }

  .contacts__slogan {
    width: 170px;
    font-size: 20px;
  }

  .contacts__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
  }

  .contacts__address br {
    display: unset;
  }
}
@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    background-color: #ffffff;
    width: 565px;
    padding: 55px 80px;
    box-sizing: border-box;
    top: 96px;
    left: 110px;
  }

  .contacts__address {
    text-align: left;
  }
}
.card__wrapper {
  list-style: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 140px;
  width: 280px;
}
.card__wrapper--show-more {
  grid-template-columns: 280px;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 16px 0;
  width: 76px;
}
.card__title--show-more {
  grid-column: 1/-1;
  width: unset;
  margin: 0;
  padding: 53px 0 0 0;
  text-align: center;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center top 0;
  background-size: 30px 30px;
}

.card__image-link {
  grid-row: 1/3;
}

.card__title-link {
  text-decoration: none;
}

.card__list {
  font-size: 12px;
  line-height: 1.33;
  margin: 0 0 8px 0;
}

.card__item {
  display: flex;
  justify-content: space-between;
}

.card__description {
  margin: 0;
}

.card__text {
  margin: 8px 0 21px 0;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  grid-column: 1/-1;
}

.card__button {
  grid-column: 1/-1;
}

.card__button.button {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 12px;
}

.card__button.card__button--show-more {
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 1.25;
  color: #444444;
  margin: 0;
}

.card__button.card__button--show-more:hover {
  background-color: #ebebeb;
}

.card__button.card__button--show-more:active {
  background-color: #ebebeb;
  color: #444444;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .card {
    background-color: #f2f2f2;
  }
  .card--show-more {
    background-color: transparent;
  }

  .card__wrapper {
    width: unset;
    padding: 0 36px 39px 36px;
    grid-template-columns: 1fr;
  }
  .card__wrapper--show-more {
    padding: 52px 38px 38px 38px;
    border: 2px solid #f2f2f2;
  }

  .card__image-wrapper {
    position: relative;
    padding: 161px 0 0 0;
  }

  .card__image {
    justify-self: center;
    grid-row: unset;
    position: absolute;
    width: 168px;
    height: 200px;
    top: -73px;
    left: 42px;
    display: block;
  }

  .card__title {
    justify-self: center;
    width: unset;
    padding: 0 60px 0 60px;
    margin: 0 0 14px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }
  .card__title--show-more {
    line-height: 1.1;
    padding: 109px 39px 0 39px;
    margin: 0;
    background-size: 60px 60px;
  }

  .card__list {
    font-size: 16px;
    line-height: 1;
    margin: 0 0 33px 0;
  }

  .card__item {
    padding: 7px 0 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .card__text {
    margin: 23px 0 87px 0;
    font-size: 16px;
    line-height: 1.12;
    padding: 0 38px;
  }

  .card__button.button {
    min-width: 245px;
    padding: 10px 0;
    margin: 0;
  }
}
@media (min-width: 1300px) {
  .card__wrapper {
    padding: 0 35px 40px 35px;
  }

  .card__list {
    margin: 0 6px 33px 6px;
  }

  .card__title {
    padding: 0 20px 0 15px;
  }

  .card__image {
    left: 4px;
    width: 172px;
    top: -77px;
  }

  .card__button.button {
    min-width: 168px;
    margin: 0 6px;
  }

  .card__title--show-more {
    padding: 109px 2px 0 2px;
  }

  .card__text {
    padding: 0;
  }

  .card__wrapper--show-more {
    padding: 51px 38px 41px 38px;
    box-sizing: border-box;
  }
}
.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px 0;
  min-width: 280px;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.8);
}

.form__group {
  margin: 0 auto 10px auto;
  padding: 0;
  border: none;
}
.form__group--program {
  margin: 0 auto 5px auto;
  width: 280px;
}
.form__group--questionary {
  width: 280px;
  margin: 0 auto 10px auto;
}
.form__group--comment {
  margin: 0 auto;
}
.form__group--additional {
  margin: 0 auto;
}

.form__group-list {
  margin: 0;
  padding: 0;
}
.form__group-list--program {
  margin-top: 22px;
}

.form__group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 1.12;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.form__group-item--program {
  height: 30px;
  margin-bottom: 13px;
}
.form__group-item--additional {
  height: 30px;
  margin-bottom: 13px;
}

.form__group-control:hover + .form__group-control-mark {
  border: 1px solid #bababa;
}

.form__group-label--disabled {
  opacity: 0.3;
}

.form__group-control:checked + .form__group-control-mark::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #68b738;
}

.form__group-control:checked + .form__group-control-mark--cube.form__group-control-mark::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  height: 26px;
  width: 26px;
  background-color: transparent;
  border-radius: 0;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}

.form__group-label {
  position: relative;
  margin-right: 12px;
}
.form__group-label--program, .form__group-label--additional {
  padding-left: 45px;
  margin-right: 0;
}

.form__group-input-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 1.12;
  color: #444444;
  text-transform: uppercase;
  height: 46px;
  padding: 13px 15px 13px 15px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  flex-grow: 2;
}
.form__group-input-text:hover {
  border: 1px solid #cdcdcd;
}
.form__group-input-text:focus {
  border: 1px solid #444444;
}
.form__group-input-text--error {
  border: 1px solid #ff8282;
}
.form__group-input-text:focus-visible {
  outline-color: unset;
  outline-style: none;
  outline-width: unset;
}

.form__group-input-text:focus + svg line,
.form__group-input-text:focus + svg path {
  stroke: #68b738;
}

.form__group-input-text--error + svg line,
.form__group-input-text--error + svg path {
  stroke: #ff8282;
}

.form__group-input-text-wrapper {
  position: relative;
  flex-grow: 2;
}
.form__group-input-text-wrapper svg {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 14px;
}

.form__group-input-text-wrapper--tel svg {
  top: 11px;
  height: 20px;
}

.form__group-input-text-wrapper .form__group-input-text--email,
.form__group-input-text-wrapper .form__group-input-text--tel {
  width: 100%;
  padding-right: 35px;
}

.form__group-wrapper-line {
  position: relative;
}
.form__group-wrapper-line::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #68b738;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.form__group-wrapper-line--contacts.form__group-wrapper-line::after {
  top: 42px;
}

.form__group-wrapper-line--comment.form__group-wrapper-line::after {
  top: 15px;
}

.form__group-wrapper-line--additional.form__group-wrapper-line::after {
  top: 33px;
}

.form__group-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  font-size: 24px;
  line-height: 1.08;
  color: #000000;
  width: 187px;
  display: inline-block;
  margin: 0 0 0 -20px;
  padding: 25px 14px 35px 20px;
  background-color: #ffffff;
}
.form__group-title--comment {
  padding: 0 14px 39px 20px;
  width: 121px;
}
.form__group-title--additional {
  width: 146px;
  padding: 19px 14px 33px 20px;
}

.form__group-control-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.form__group-control-mark--cube {
  border-radius: 0;
  top: -10px;
}

.form__group-control-item {
  color: #222222;
}
.form__group-control-item--cube {
  color: #000000;
}

.form__group-input-textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 1.12;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 9px 12px 9px 15px;
}
.form__group-input-textarea:focus {
  border: 1px solid #444444;
}
.form__group-input-textarea:focus-visible {
  outline-color: unset;
  outline-style: none;
  outline-width: unset;
}

.form__button {
  border: none;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
}

.form__text {
  margin: 20px 0 30px 0;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {
  .form__group--questionary {
    width: 708px;
  }

  .form__group-list {
    padding: 0 37px 0 40px;
    box-sizing: border-box;
  }

  .form__group-item {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    height: 52px;
  }

  .form__group-title {
    font-size: 36px;
    line-height: 1;
    padding: 0 40px 0 40px;
    margin: 0 0 76px -40px;
  }

  .form__group-title--contacts {
    width: 514px;
  }

  .form__group-title--comment {
    width: 182px;
  }

  .form__group-title--additional {
    width: 211px;
    margin-bottom: 53px;
  }

  .form__group-wrapper-line--contacts.form__group-wrapper-line::after {
    top: 21px;
  }

  .form__group-wrapper-line--comment.form__group-wrapper-line::after {
    top: 21px;
  }

  .form__group-wrapper-line--additional.form__group-wrapper-line::after {
    top: 21px;
  }

  .form__group-wrapper-title {
    padding: 0 37px 0 40px;
    box-sizing: border-box;
  }

  .form__group--program {
    margin: 52px auto 73px auto;
    padding: 0 37px 0 40px;
    box-sizing: border-box;
    width: 708px;
  }

  .form__group--contacts {
    margin-bottom: 45px;
  }

  .form__group-list--program {
    margin-top: 0;
    padding: 25px 0 12px 28px;
    border: 1px solid #e7e7e7;
  }

  .form__group-item--program {
    height: 40px;
    margin-bottom: 13px;
  }

  .form__group-input-text-wrapper--tel.form__group-input-text-wrapper::before {
    top: 16px;
  }

  .form__group-input-text-wrapper::before {
    top: 19px;
  }

  .form__group-control-mark {
    width: 40px;
    height: 40px;
  }

  .form__group-control:checked + .form__group-control-mark::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }

  .form__group-control:checked + .form__group-control-mark--cube.form__group-control-mark::before {
    top: 12px;
    left: 10px;
  }

  .form__group-control-mark--cube {
    top: -5px;
  }

  .form__group-label {
    margin-right: 15px;
  }

  .form__group-label--program,
.form__group-label--additional {
    padding-left: 60px;
  }

  .form__group-wrapper-textarea {
    padding: 0 37px 0 40px;
    box-sizing: border-box;
    margin-bottom: 65px;
  }

  .form__group-input-text {
    height: 52px;
    padding: 0 0 0 20px;
  }
  .form__group-input-text::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }

  .form__group-input-textarea {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    height: 174px;
  }

  .form__group-list--additional {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 32px 53px;
  }

  .form__group-item--additional {
    margin-bottom: 0;
    height: 40px;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
    margin-top: 54px;
    align-items: center;
    padding: 0 37px 0 40px;
    box-sizing: border-box;
  }

  .form__button {
    margin: 0 12px 0 0;
    font-size: 20px;
    line-height: 1.3;
  }

  .form__button.button {
    padding: 13px 0;
  }

  .form__text {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .form__group--questionary {
    width: unset;
  }
  .form__group--program {
    width: unset;
    margin: 0;
    padding: 0;
  }

  .form__group-list {
    padding: 0;
  }
  .form__group-list--program {
    padding: 25px 0 12px 28px;
  }
  .form__group-list--contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 78px;
  }
  .form__group-list--additional {
    gap: 0 80px;
  }

  .form__group-wrapper-title {
    padding: 0;
  }

  .form__group--contacts {
    margin-bottom: 47px;
  }

  .form__group-wrapper-textarea {
    padding: 0;
    margin-bottom: 64px;
  }

  .form__group-title--additional {
    margin-bottom: 57px;
  }

  .form__group-input-textarea {
    padding-left: 17px;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 81px;
    margin-top: 61px;
    padding: 0;
  }

  .form__button {
    margin-right: 0;
  }
}
.site-list {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.site-list__item {
  padding: 22px 0 24px 0;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.site-list__item a {
  color: #000000;
  text-decoration: none;
}
.site-list__item:hover {
  opacity: 0.6;
}
.site-list__item:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 400;
    border: none;
  }

  .site-list__item {
    position: relative;
    padding: 0;
    border: none;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    height: 2px;
    top: 31px;
    left: 0;
    width: 100%;
    background-color: #68b738;
  }
}
@media (min-width: 1300px) {
  .site-list {
    font-size: 20px;
    line-height: 1.5;
  }
  .site-list a {
    color: #ffffff;
  }

  .site-list.site-list--catalog a {
    color: #000000;
  }

  .site-list__item--active::after {
    top: 35px;
    background-color: #ffffff;
  }

  .site-list__item--catalog.site-list__item--active::after {
    background-color: #68b738;
  }
}
.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list {
  display: block;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav__toggle {
  position: relative;
  padding: 0;
  border: none;
  width: 24px;
  height: 16px;
  cursor: pointer;
  display: block;
  background-color: #ffffff;
}

.main-nav__wrapper {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  background: #ffffff;
  z-index: 2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    position: unset;
    width: unset;
  }

  .main-nav__list {
    padding: 10px 0 0 0;
  }

  .main-nav--opened .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1300px) {
  .main-nav__wrapper {
    background-color: transparent;
  }

  .main-nav__list {
    padding: 9px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */