@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff") format("woff"),
    url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}

body {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $special_dark-grey;
  font-style: normal;
  background-color: $white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
