@import "./global.scss";
@import "./blocks/wrapper.scss";
@import "./blocks/main-header.scss";
@import "./blocks/additional-catalog.scss";
@import "./blocks/catalog.scss";
@import "./blocks/example.scss";
@import "./blocks/features.scss";
@import "./blocks/form-selection.scss";
@import "./blocks/gift.scss";
@import "./blocks/main-banner.scss";
@import "./blocks/program.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/card.scss";
@import "./blocks/button.scss";
@import "./blocks/form.scss";

